<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/headTags.ejs') %>

  <link 
    rel="stylesheet" 
    href="../assets/css/services.css">

  <script 
    src="../assets/js/edit-service.js"
    defer>
  </script>

  <title>SAS | <%= pageInfo.pageName %> </title>
</head>
<body>
  <%# Menu lateral %>
  <%- include('../partials/menu.ejs')  %>

  <h1 
    class="text-center my-4">
    <%= pageInfo.currentUser.fantasyName %> 
  </h1>

<form 
  novalidate
  id="create-user-form"
  class="create-user-form align-self-center"
  >

  <div class="container">
    <div class="mb-3">
      <label 
      for="sname"
      class="form-label">
      <b>Nome do serviço</b>
    </label>
    <input 
      type="text" 
      class="form-control"
      placeholder="Digite o nome do serviço" 
      id="sname" 
      data-bs-toggle="tooltip" data-bs-placement="top"
      name="sname"
      value="<%= pageInfo.currentService.serviceName %>"
      required/>
    </div>
  </div>
  <div class="container">
    <div class="mb-3">
      <label 
      for="description"
      class="form-label">
      <b>Descrição</b>
    </label>
    <textarea 
      type="text" 
      class="form-control"
      placeholder="Descreva o serviço em poucas palavras" 
      id="description" 
      name="description"
      required><%= pageInfo.currentService.description %></textarea>
    </div>
  </div>
  <div class="container">
    <div class="mb-3">
      <label 
        for="select"
        class="form-label">
        <b>Duração</b>
      </label>
      <select  
        class="form-select form-control" 
        id="duration"
        aria-label="duration"
        required>
          <option 
            selected value="<%= pageInfo.currentService.durationTime %>">
            <%= pageInfo.durationTime %></option>
          <option value="1">0h30m</option>
          <option value="2">1h00m</option>
          <option value="3">1h30m</option>
          <option value="4">2h00m</option>
      </select>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-3">
      <label 
      for="price"
      class="form-label">
      <b>Preço</b>
    </label>
    <input 
      type="number" 
      class="form-control"
      placeholder="Digite o preço" 
      step="0.01"
      min="0.00"
      id="price" 
      name="price"
      value="<%= pageInfo.currentService.price %>"
      required/>
    </div>
  </div>

  <div class="container">
    <div class="mb-3">
      <label 
      for="status"
      class="form-label">
        <b>Status</b>
      </label>
      <div class="form-check form-switch">
        <input
          class="form-check-input status-check-input shadow-none" 
          value="true"
          type="checkbox" 
          checked="true"
          id="flexSwitchCheckDefault">
          <span class="status-check-text">Ativado</span>
      </div>
    </div>
  </div>
  <div class="group container">
    <a  
      href="/services"
      class="btn btn-secondary" 
      data-bs-dismiss="modal">Voltar</a>
    <button
      class="btn btn-primary update-service-btn"
      id="create-service-btn"
      data-id=<%= pageInfo.currentService._id  %> >Salvar</button>
  </div>
</form>

  <%# Footer %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>