<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>SAS | <%= pageInfo.pageName %></title>

  <link href='./assets/js/libs/fullcalendar-5.8.0/main.css' rel='stylesheet'/>
  <script src='./assets/js/libs/fullcalendar-5.8.0/main.js'></script>
  <script src="./assets/js/libs/fullcalendar-5.8.0/locales-all.js"></script>

  <%- include('../partials/headTags.ejs') %>

  <%# Modal de agendamento %>
  <script
    src="../assets/js/create-event.js"
    defer>
  </script>

  <%# Script de criação do calendário %>
  <script
    src="../assets/js/calendar.js"
    defer>
  </script>

  <%# Scrip handler do menu %>
  <script 
    src="../assets/js/menu.js"
    defer>
  </script>
  
  <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
  <%# Menu lateral %>
  <%- include('../partials/menu.ejs')  %>

  <div class="app-initial-point">
    <h1 class="calendar-name"> Seja bem vindo, <%= pageInfo.currentUser.username %></h1>
    <div id='calendar'>
      <!-- populado via javascript -->
    </div>
  </div>

  <div
    class="modal fade" 
    id="create-event-modal" 
    tabindex="-1" 
    aria-labelledby="create-event-modal-label" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agendar serviço</h5>
          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form 
            novalidate
            id="create-event-form"
            class="create-event-form align-self-center">

            <div class="container">
              <div class="mb-3">
                <label 
                for="due-time"
                class="form-label">
                <b>Horário*</b>
              </label>
              <select 
                type="text" 
                class="form-control"
                id="due-time" 
                name="due-time"
                required>
              </select>
              </div>
            </div>

            <div class="container">
              <div class="mb-3">
                <label 
                  for="service"
                  class="form-label">
                  <b>Serviço*</b>
                </label>
                <select  
                  class="form-select form-control" 
                  id="service"
                  aria-label="service"
                  required>
                    <option selected value="default">Clique para ver as opções</option>
                    <% if( pageInfo.services.length > 0 ) { %>
                      <% pageInfo.services.forEach( service => { %>
                        <option data-id="<%= service._id %>"> 
                          <%= service.serviceName %> | R$<%=service.price %> | <%= service.durationTime %>
                        </option>
                      <% }) %>
                    <% } %> 
                </select>
              </div>
            </div>

            <div class="container">
              <div class="mb-3">
                <label 
                for="description"
                class="form-label">
                <b>Descrição do serviço</b>
              </label>
              <input 
                type="text" 
                class="form-control"
                id="description" 
                name="description"
                disabled
                required></input>
              </div>
            </div>

            <div class="container">
              <div class="mb-3">
                <label 
                for="client-name"
                class="form-label">
                <b>Nome*</b>
              </label>
              <input 
                type="text" 
                class="form-control"
                placeholder="Digite seu nome" 
                id="client-name" 
                data-bs-toggle="tooltip" data-bs-placement="top"
                name="client-name"
                required/>
              </div>
            </div>

            <div class="container">
              <div class="mb-3">
                <label 
                for="client-phone"
                class="form-label">
                <b>Telefone*</b>
              </label>
              <input 
                type="text" 
                class="form-control"
                placeholder="Digite seu telefone celular (Whatsapp)" 
                id="client-phone" 
                name="client-phone"
                required></input>
              </div>
            </div>
            
            <div class="container">
              <div class="mb-3">
                <label 
                for="client-email"
                class="form-label">
                <b>Email*</b>
              </label>
              <input 
                type="email" 
                class="form-control"
                placeholder="Digite seu e-mail" 
                id="client-email" 
                data-bs-toggle="tooltip" data-bs-placement="top"
                name="client-email"
                required/>
              </div>
            </div>
          
            <div class="group container">
              <button   
                type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">Voltar</button>
              <button
                class="btn btn-primary"
                id="create-event-btn">Agendar</button>
            </div>
          </form>
        
        <div class="modal-footer d-flex">
          
        </div>
      </div>
    </div>
  </div>

  <%# Footer %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>