<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<title>Meus Dados | </title>

	<%- include('../partials/headTags.ejs') %>

	<link href="./assets/css/info.css" rel='stylesheet' />
	<script defer src="./assets/js/info.js"></script>
	<script defer src="../assets/js/app.js"></script>
</head>
<body>
	<%# Menu lateral %>
	<%- include('../partials/menu.ejs')  %>

	<div class="container">
		<form 
			id="my-data"
			class="my-data-form align-self-center">
			<h2 class="text-center">Meus dados</h2>
			<div class="input-group mb-3">
				<span class="input-group-text">
					Nome fantasia:
				</span>
				<input 
					id="fname"
					type="text" 
					class="form-control"
					value="<%= user.fantasyName %>"
					disabled>
					<span 
						class="material-icons input-group-text edit-btn"
						data-type="fname">
						edit
					</span>
					<span 
						class="material-icons input-group-text save-btn"
						data-type="fname">
						save
					</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">
					Nome de usuário:
				</span>
				<input 
					id="uname"
					type="text" 
					class="form-control"
					value="<%= user.userName %>"
					disabled>
					<span 
						class="material-icons input-group-text edit-btn"
						data-type="uname">
						edit
					</span>
					<span 
						class="material-icons input-group-text save-btn"
						data-type="uname">
						save
					</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">
					E-mail:
				</span>
				<input 
					id="email"
					type="text" 
					class="form-control"
					value="<%= user.email %>"
					disabled>
					<span 
						class="material-icons input-group-text edit-btn"
						data-type="email">
						edit
					</span>
					<span 
						class="material-icons input-group-text save-btn"
						data-type="email">
						save
					</span>
			</div>
			<div class="d-grid gap-2">
				<a href="/excluir-dados"
					class="btn btn-danger delete-btn">					
					Deletar usuário
				</a>
        <a 
					href="/"
          class="btn btn-primary">
					Voltar para a página principal
				</a>
      </div>
		</form>
	</div>
	
	<%- include('../partials/footer.ejs')  %>
</body>

</html>